!!!
%html
  %head
    %title Professional Cynic
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}
    %meta{name:'HandheldFriendly', content: 'True'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/application.css'}
    %script{src: 'javascripts/application.min.js', type: 'text/javascript', async: true}

  %body
    #bb-marionette-wrapper

    %script{type: 'text/javascript'}
      // do NOT change the following line as we're replacing it via a regex in the insert_json_into_dom grunt task
      BB.myProjects = []
